{% extends "vueMere.html.twig" %}

{% block title %}
	{{ parent() }} - Index
{% endblock %}

{% block body %}

	{% if is_granted('ROLE_AUTEUR') %}
		<h3><a href="{{ path('bayardtest_platform_add') }}">(Ajouter)</a></h3>
	{% endif %}
    {% for advert in adverts %}
			<div>
				{% if advert.image is not null %}
					<img 
						src="{{ asset(advert.image.webPath) }}"
						alt="{{ advert.image.alt }}"
					/>
				{% endif %}
				<br>Hello {{ advert.author }} : {{ advert.date|date("m/d/Y") }} 
					{% if is_granted('ROLE_ADMIN') %}
						<a href="{{ path('bayardtest_platform_remove_advert', {'id': advert.id}) }}">(x)</a>
					{% endif %}
				{% if not advert.categories.empty %}
				<br>Catégoris :
					{% for category in advert.categories %}
					    <br>- {{ category.name }}{% if not loop.last %}; {% endif %}
					{% endfor %}
				{% endif %}
				{% if is_granted('ROLE_MODERATEUR') %}
					<h3> <a href="{{ path('bayardtest_platform_edit', {'id': advert.id}) }}">(Modifier)</a></h3>
				{% endif %}
			</div>
		{% endfor %}
{% endblock %}

{% block footer %}
	{{ include("@BayardTestPlatform/Default/footer.html.twig") }}
{% endblock %}